{% extends 'base.html.twig' %}

{% block title %}
    e-Library - Home page
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/default.css') }}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/default.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="boxCentre" class="boxCentre">
        <div class="box boxCo" align="center">
            <h1>e-Library</h1>
            <h2>Index of registered links</h2>
            {% if linkEntries %}
                <table class="boxConnexion1" align="middle">

                    <tr align="center" valign="middle">
                        <td>
                            <h3>Title</h3>
                        </td>
                        <td>
                            <h3>Target link</h3>
                        </td>
                        <td>
                            <h3>Short link</h3>
                        </td>
                        <td>
                            <h3>Description</h3>
                        </td>
                        <td>
                            <div class="boxBouton boxConnexion1">
                                <input type="button" class="button" onclick="openWin2('{{ path("add_link_entry_popup") }}')" value="Add new entry">
                            </div>
                        </td>
                    </tr>
                    {% for linkEntry in linkEntries %}
                        <tr>
                            <td>
                                <p>{{ linkEntry.title }}</p>
                            </td>
                            <td>
                                <a id="t{{ linkEntry.id }}" href="{{ linkEntry.targetlink }}">Target Link</a>
                                <input type="button" class="button" onClick="copyLinkToClipboard('t{{ linkEntry.id }}')" value="Copy to clipboard">
                            </td>
                            <td>
                                <a id="s{{ linkEntry.id }}" href="{{ shortLinkBase }}{{ linkEntry.shortlink }}">Short Link</a>
                                <input type="button" class="button" onClick="copyLinkToClipboard('s{{ linkEntry.id }}')" value="Copy to clipboard">
                            </td>
                            <td>
                                <p>{{ linkEntry.description }}</p>
                            </td>
                            <td>
                                <div class="boxBouton boxConnexion1">
                                    <input type="button" class="button" onClick="openWin2('{{ path("edit_link_entry_popup", {"entry_id": linkEntry.id}) }}')" value="Edit">
                                    <input type="button" class="button" onClick="openWin('{{ path("delete_link_entry_popup", {"entry_id": linkEntry.id}) }}')" value="Delete">
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>The e-library is currently empty.</p>
                <br>
                <div class="boxBouton boxConnexion1">
                    <input type="button" class="button" onclick="openWin2('add')" value="Add new entry">
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}