{% extends 'base.html.twig' %}

{% block title %}
    Delete entry "{{ title }}"
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/defaultPopup.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="box boxCo">
        {{ form_start(form) }}
            <p>Confirm deletion of link entry "{{ title }}"</p>

            <div class="boxBouton boxConnexion1">
                {{ form_row(form.delete, {'attr': {'class': 'button'}}) }}
                <input type="button" class="button" onclick="cancel()" value="Cancel">
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}