{% extends 'base.html.twig' %}

{% block title %}
    Submission success
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/defaultPopupSuccess.js') }}"></script>
{% endblock %}

{% block body %}
    <div>
        <div>
            <h1>Submission success</h1>
        </div>
    </div>
{% endblock %}