{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/defaultPopup.css') }}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/defaultPopup.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="boxCentre" class="boxCentre">
        <div class="box boxCo">
            <h1>{{ title }}</h1>

            {{ form_start(form) }}
                {{ form_errors(form) }}
                <form name='modifier' class="boxConnexion1">
                    <label class="boxIdentifiant boxConnexion1">
                        Title: (max 32 chars)
                    </label>
                    {{ form_row(form.title, {
                        'attr': {'class': 'input'},
                        'label': false
                    }) }}
                    <br>
                    <label class="boxIdentifiant boxConnexion1">
                        Target link: (max 200 chars)
                    </label>
                    {{ form_row(form.targetlink, {
                        'attr': {'class': 'input', 'placeholder': 'https://www.google.fr/'},
                        'label': false
                    }) }}
                    <br>
                    <label class="boxIdentifiant boxConnexion1">
                        Short link: (max 64 chars)
                    </label>
                    {{ form_row(form.shortlink, {
                        'attr': {'class': 'input', 'placeholder': 'my-uri', 'readonly': null},
                        'label': false
                    }) }}
                    <br>
                    <label class="boxIdentifiant boxConnexion1">
                        Description: (max 250 chars)
                    </label>
                    {{ form_row(form.description, {
                        'attr': {'class': 'input', 'cols': '50', 'rows': '5'},
                        'label': false
                    }) }}
                    <br><br>
                    <div class="boxBouton boxConnexion1">
                        {{ form_row(form.save, {'attr': {'class': 'button'}}) }}
                        <input type="button" class="button" onclick="cancel()" value="Cancel">
                    </div>
                </form>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}